* {
    box-sizing: border-box;
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    background-color: black;

}

button {
    background-color: yellow;
    color: black;
    border: none;
    padding: 20px;
    margin: 20px;
}

button:hover {
    background-color: beige;
}

.home {
    width: 80%;
    background: url('./home.jpg');
    padding: 50px;
}